.logger {
  border-radius: var(--theme-border-radius-8);
  background-color: var(--theme-color-bg-2);

}

.logger.has-entries:not(.is-expanded):after {
  content: "...";
  align-self: flex-end;
}

.log {
  list-style: none;
  padding: 0;
  margin: 0;
}

.log.has-entries.is-expanded .entry.expander:hover,
.log.has-entries:not(.is-expanded):hover {
  background-color: var(--theme-color-bg-2);
  cursor: pointer;
}

.entry {
  padding: 0.25rem 1rem;
}

.entry.expander {
  text-align: end;
}