.queue {
  list-style-type: none;
  padding: 0;
}

.item {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 3fr;
}

.item .status {
  justify-self: end;
}

.item .url {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}