.textblock.body {
  font-stretch: normal;
  font-weight: 300;
}

.textblock.code {
  font-family: monospace;
  white-space: pre-line;
  font-weight: 100;
  line-height: 1.05em;
}

.textblock.heading {
  font-weight: 800;
  font-stretch: normal;
}

.textblock.caption {
  font-stretch: condensed;
}

.textblock.label {
  font-stretch: condensed;
}