.item {
  border-radius: 8px;
  background-color: #fff1;
  padding: 1rem;
}

.item .row {
  justify-content: space-between;
}

.item .stats {
  font-size: 0.8em;
}

.item .statbox {
  gap: 0.5em;
}

.item .arrow {
  font-size: 0.65em;
}

.item .status {
  font-size: 0.8em;
}

.item .download {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}