@layer lib {
  .queueitem {
    border-radius: var(--theme-border-radius-8);
    background-color: var(--theme-color-bg-2);
    padding: 1rem;
  }

  .queueitem .row {
    justify-content: space-between;
  }

  .queueitem .stats {
    font-size: 0.8em;
  }

  .queueitem .statbox {
    gap: 0.5em;
  }

  .queueitem .download {
    align-items: center;
    display: flex;
    gap: var(--theme-space-8);
  }
}