.picker {
  isolation: isolate;
  z-index: 1;
}

.picker .controls {
  position: relative;

}

.picker .list {
  background-color: #000;
  isolation: isolate;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2rem;
  inset: 0 0 auto 0;
  border: 2px solid transparent;
}

.picker .trigger {
  background-color: #fff2;
  padding: 0.25rem 0.25rem;
  border-radius: 0.125rem;
  min-width: 5em;
  display: flex;
  justify-content: space-between;
}

.picker .trigger::after {
  content: "˅";
  transform: scaleY(0.5);
  padding-left: 1rem;
}

.picker .item {
  padding: 0.25rem 0.5rem;
  user-select: none;
}

.picker .item:hover {
  background-color: #fff4;
}