.queue {
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
  position: relative;
  border-radius: var(--theme-border-radius-8);
  container-type: inline-size;
}

.queue.has-drop {
  outline: 2px dashed var(--theme-color-brand);
}

.queue.has-drop * {
  pointer-events: none;
}

.queue .placeholder {
  align-content: center;
  align-self: stretch;
  justify-items: center;
  background-color: color-mix(in srgb, var(--theme-color-bg-3) 80%, #0000);
  border-radius: var(--theme-border-radius-8);
  display: grid;
  inset: 0;
  position: absolute;
  text-align: center;
}

.queue .dropicon {
  display: block;
  width: 2rem;
}

@container (width < 30em) {
  .queueitem .stats {
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-auto-flow: row;
    gap: var(--theme-space-8);
  }
}