.tag {
  --color-bd: #888;
  --gap: 4px;
  --rad: 3px;
  border-radius: var(--rad);
  overflow: hidden;
  font-size: 12px;
  font-stretch: 50%;
  line-height: 18px;
  box-sizing: border-box;
}

.tag .label {
  color: #888;
  padding-inline: var(--gap);
  border: 1px solid var(--color-bd);
  border-radius: var(--rad) 0 0 var(--rad);
  height: calc(100% - 3px);
}

.tag .value {
  background-color: var(--color-bd);
  color: #111;
  padding-inline: var(--gap);
}

.tag .arrow {
  padding-inline: var(--gap);
}

.tag .unit {
  font-size: 0.8em;
  font-weight: 600;
  padding-left: var(--gap);
}