.icon {
  width: 16px;
  height: 16px;
}

.fillicon {
  fill: currentColor;
}

.lineicon {
  width: 16px;
  height: 12px;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
}