@layer app {
  .logger {
    border-radius: var(--theme-border-radius-4);
    background-color: var(--theme-color-bg-2);
    overflow: hidden;
  }

  .logger.has-entries:not(.is-expanded):after {
    content: "...";
    align-self: flex-end;
  }

  .log {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .entry {
    padding: var(--theme-space-4) var(--theme-space-8);
    animation: slow-fade 10s linear;
    animation-fill-mode: both;
  }

  @keyframes slow-fade {
    from {
      opacity: 1.0;
    }

    to {
      opacity: 0.5;
    }
  }

  .log.has-entries.is-expanded .entry.expander:hover,
  .log.has-entries:not(.is-expanded):hover {
    background-color: var(--theme-color-bg-3);
    cursor: pointer;
  }
}