.app {
  min-height: 100vh;
  display: flex;
}

.master {
  gap: 0.5rem;
  grid-template-rows: auto 1fr auto auto;
  min-height: 12rem;
  min-width: 28rem;
  max-width: 50rem;
  margin-inline: auto;
  padding-block: 2rem;
}

.master .logo {
  min-width: 76px;
}

.master .dropzone {
  display: flex;
  flex-flow: column;
}