@font-face {}

@font-face {
  font-family: 'AmstradPC';
  font-style: normal;
  src: url(/WebPlus_Amstrad_PC-2y.woff) format('woff');
}

@font-face {
  font-family: 'IBMVGA';
  font-style: normal;
  src: url(/WebPlus_IBM_VGA_8x16.woff) format('woff');
}

@font-face {
  font-family: 'Topaz';
  font-style: normal;
  src: url(/Topaz_a500_v1.0.ttf) format('woff');
}

@font-face {
  font-family: 'TopazPlus';
  font-style: normal;
  src: url(/TopazPlus_a500_v1.0.ttf) format('woff');
}

@font-face {
  font-family: 'MicroKnight';
  font-style: normal;
  src: url(/MicroKnight_v1.0.ttf) format('woff');
}

@font-face {
  font-family: 'MicroKnightPlus';
  font-style: normal;
  src: url(/MicroKnightPlus_v1.0.ttf) format('woff');
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}


a {
  font-weight: 500;
  color: hsl(48, 87%, 43%);
  text-decoration: inherit;
}

a:hover {
  color: hsl(32, 94%, 48%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.footericon {
  width: 1.5rem;
}

.footericon path {
  fill: currentColor;
}