:root {
  --PI: 3.1415926536;
  --theme-border-radius-8: 8px;
  --theme-border-radius-4: 4px;
}

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Nunito Sans', sans-serif;
    font-stretch: condensed;
  }
}


a {
  font-weight: 500;
  color: hsl(48, 87%, 43%);
  text-decoration: inherit;
}

a:hover {
  color: hsl(32, 94%, 48%);
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #1a1a1a;
  border-radius: var(--theme-border-radius-8);
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-stretch: condensed;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #fc0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

svg {
  display: block;
}

svg .path-stroke {
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: currentColor;
}

.footericon {
  width: 1.5rem;
}

.footericon path {
  fill: currentColor;
}